@{
    ViewBag.Title = "Tweeter welcomes you";
}


    <div class="row">
        <div class="span4 offset2">
            <h2>Join to look at your tweet trends.</h2> 
           <a href=@Url.Action("LogOn","Account") class="btn btn-primary" ><img src="@Url.Content("~/Content/img/sign-in-with-twitter-d.png")" alt="Sign in to twitter" /></a>
        </div>
        <div class="span6">
            
            
          
    <img src="@Url.Content("~/Content/img/tweeter-index.png")" alt="Twitter Graphs" />
        </div>
    </div>

